div {
  width: 100%;
  height: 100%;
  margin-left:20px;
  margin-top: 20px;
  margin-bottom: 80px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}

div div{
  width: 60%;
  height: 80%;
  align: center;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  word-break: break-all;
  background-color: #FD3F14;/*#ff751a;*/
  overflow: auto;
  text-align: center;
  white-space: normal;
  align: center;
  overflow: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 5px 5px 5px grey;

}
div div h5{
text-align: center;
}

div div h5 button {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media only screen and (max-height: 400px) {
    div{
      width: 100%;
      margin-left: -1vh;
    }
    div div{
      margin-right: 8vh;
    }

}
