
#savebutton{
  margin-left: 23%;

}


@media only screen and (max-width: 400px) {
  .input-group{
    width: 50vh;
  }
}

@media only screen and (max-height: 400px) {
  #savebutton{
    margin-left: 34%;
  }
}
