<div id="inner">
  <div id="form-content">
  </div>
</div>

<form id = "signin" #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
  <input type="text" class="form-control" id="email" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }" required [(ngModel)]="userService.newUser.email" required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }"
  name="email" placeholder="Email" email="email" #email="ngModel">

  <div *ngIf="signInForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message" style="background-color: red;">This field is required.</label>
    <label *ngIf="email.errors.minlength" class="validation-message" style="background-color: red;">Invalid email address.</label>
  </div>

  <input type="text" class="form-control" id="password" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }" required [(ngModel)]="userService.newUser.password"  name="password"
  minlength="4" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }" placeholder="Password" password="password" #password="ngModel">


  <input id="pushsubmit" type="submit" value="Sign In">
  </form>
