<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div id="setter">

<div id="overseer" class= "fadeInDown">>

<div id ="practice" class='shared'cdkDropList  [cdkDropListData]="highpriority"
[cdkDropListConnectedTo]= "[firstList, thirdList, fourthList]" #secondList= "cdkDropList"
(cdkDropListDropped)= "drop($event)">
<h5>High Priority</h5>
<div *ngFor= "let high of highpriority; index as i" class= "lock" cdkDrag>{{high.AuthorURL}}{{high.URL}}{{high.RedditTitle}}</div>
</div>

<div id ="makes" class="shared" cdkDropList  [cdkDropListData]="mediumpriority"
[cdkDropListConnectedTo]= "[firstList, secondList, fourthList]" #thirdList= "cdkDropList"
(cdkDropListDropped)= "drop($event)">
<h5>Medium Priority</h5>
<div *ngFor= "let med of mediumpriority; index as i" class= "medium" cdkDrag>{{med.AuthorURL}}{{med.URL}}{{med.RedditTitle}}</div>
</div>

<div id ="perfect" class="shared" cdkDropList  [cdkDropListData]="lowpriority"
[cdkDropListConnectedTo]= "[firstList, secondList, thirdList]" #fourthList= "cdkDropList"
(cdkDropListDropped)= "drop($event)">
<h5>Low Priority</h5>
<div *ngFor= "let low of lowpriority; index as i" class= "low" cdkDrag>{{low.AuthorURL}}{{low.URL}}{{low.RedditTitle}}</div>
</div>


<div id= "sister" class="shared" cdkDropList  [cdkDropListData]="totalpriority"
[cdkDropListConnectedTo]= "[secondList, thirdList, fourthList]" #firstList= "cdkDropList"
(cdkDropListDropped)= "drop($event)">
<h5 id="goalhead">Goal Resources</h5>
<div *ngFor= "let total of totalpriority; index as i" class= "pop" cdkDrag>{{total.URL}}{{total.RedditTitle}}</div>
</div>

<div>
<button id="saveLists" (click)="sendTheLists()"> Save Lists </button>
</div>
</div>
